<footer>
    <div class="f-info">
        <!-- Left section -->
        <div class="f-info-left">
            <div class="f-info-brand">&copy; 2025 Homely,Inc</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
        
        <!-- Right section (now with socials + logo) -->
        <div class="f-info-right">
            <div class="f-info-socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</footer>